body {
    background-color: black;
    margin-right: 0;
    margin-left: 0;
}
@font-face {
    font-family: "Conv_GraphikRegular";
    src: url("./assets/fonts/GraphikRegular.eot");
    src: local("☺"), url("./assets/fonts/GraphikRegular.woff") format("woff"),
        url("./assets/fonts/GraphikRegular.ttf") format("truetype"),
        url("./assets/fonts/GraphikRegular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
